
@{
    ViewBag.Title = "Index";
}

<h2>Wel Come to Home Page</h2>

<br /><br />
Click Here For Name
<a href="\Home\ShowName">Show Office Name </a>
<br /><br />
You Can Use Following Menu Also
<br /><br />
@Html.ActionLink("Show Name","Showname")
<br /><br />
Show Product @Html.ActionLink("Details of Product","Index","Product")
