
@{
    ViewBag.Title = "Show";
}

<h2>Student Details</h2>
<table style="border:double;width:5px;color:red">
    <tr>
        <td>Student No</td>
        <td>@ViewBag.St.Stno</td>
    </tr>
    <tr>
        <td>Student Name</td>
        <td>@ViewBag.St.Stname</td>
    </tr>
    <tr>
        <td>Date of Admn</td>
        <td>@ViewBag.St.Doa</td>
    </tr>

    <tr>
        <td>Student Fees</td>
        <td>@ViewBag.St.Fees</td>
    </tr>
</table>

